#card-group {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10vw;
    padding-left: 12vw;
}

#main-searchbar {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 70vw;
    margin: auto;
}

.library-checkboxes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.library-cards {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.library-result-count-text {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}